<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxyd.nole.jpa.mysql.alpha.raw.mapper.Nole203TalkMapper">
  <resultMap id="BaseResultMap" type="com.jxyd.nole.jpa.mysql.alpha.raw.model.Nole203Talk">
    <id column="nole203_id" jdbcType="BIGINT" property="id" />
    <result column="nole200_id" jdbcType="BIGINT" property="nole200Id" />
    <result column="nole301_id" jdbcType="BIGINT" property="nole301Id" />
    <result column="nole203_pid" jdbcType="BIGINT" property="nole203Pid" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="content" jdbcType="VARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    `nole203_id`, `nole200_id`, `nole301_id`, `nole203_pid`, `path`, `gmt_create`, `type`, 
    `content`
  </sql>
  <select id="selectByExample" parameterType="com.jxyd.nole.jpa.mysql.alpha.raw.model.Nole203TalkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nole203_talk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nole203_talk
    where `nole203_id` = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nole203_talk
    where `nole203_id` = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.jxyd.nole.jpa.mysql.alpha.raw.model.Nole203TalkExample">
    delete from nole203_talk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jxyd.nole.jpa.mysql.alpha.raw.model.Nole203Talk">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nole203_talk (`nole200_id`, `nole301_id`, `nole203_pid`, 
      `path`, `gmt_create`, `type`, 
      `content`)
    values (#{nole200Id,jdbcType=BIGINT}, #{nole301Id,jdbcType=BIGINT}, #{nole203Pid,jdbcType=BIGINT}, 
      #{path,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{type,jdbcType=CHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jxyd.nole.jpa.mysql.alpha.raw.model.Nole203Talk">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into nole203_talk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nole200Id != null">
        `nole200_id`,
      </if>
      <if test="nole301Id != null">
        `nole301_id`,
      </if>
      <if test="nole203Pid != null">
        `nole203_pid`,
      </if>
      <if test="path != null">
        `path`,
      </if>
      <if test="gmtCreate != null">
        `gmt_create`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="content != null">
        `content`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nole200Id != null">
        #{nole200Id,jdbcType=BIGINT},
      </if>
      <if test="nole301Id != null">
        #{nole301Id,jdbcType=BIGINT},
      </if>
      <if test="nole203Pid != null">
        #{nole203Pid,jdbcType=BIGINT},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jxyd.nole.jpa.mysql.alpha.raw.model.Nole203TalkExample" resultType="java.lang.Long">
    select count(*) from nole203_talk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nole203_talk
    <set>
      <if test="record.id != null">
        `nole203_id` = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.nole200Id != null">
        `nole200_id` = #{record.nole200Id,jdbcType=BIGINT},
      </if>
      <if test="record.nole301Id != null">
        `nole301_id` = #{record.nole301Id,jdbcType=BIGINT},
      </if>
      <if test="record.nole203Pid != null">
        `nole203_pid` = #{record.nole203Pid,jdbcType=BIGINT},
      </if>
      <if test="record.path != null">
        `path` = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        `gmt_create` = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null">
        `type` = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.content != null">
        `content` = #{record.content,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nole203_talk
    set `nole203_id` = #{record.id,jdbcType=BIGINT},
      `nole200_id` = #{record.nole200Id,jdbcType=BIGINT},
      `nole301_id` = #{record.nole301Id,jdbcType=BIGINT},
      `nole203_pid` = #{record.nole203Pid,jdbcType=BIGINT},
      `path` = #{record.path,jdbcType=VARCHAR},
      `gmt_create` = #{record.gmtCreate,jdbcType=TIMESTAMP},
      `type` = #{record.type,jdbcType=CHAR},
      `content` = #{record.content,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxyd.nole.jpa.mysql.alpha.raw.model.Nole203Talk">
    update nole203_talk
    <set>
      <if test="nole200Id != null">
        `nole200_id` = #{nole200Id,jdbcType=BIGINT},
      </if>
      <if test="nole301Id != null">
        `nole301_id` = #{nole301Id,jdbcType=BIGINT},
      </if>
      <if test="nole203Pid != null">
        `nole203_pid` = #{nole203Pid,jdbcType=BIGINT},
      </if>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        `gmt_create` = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=CHAR},
      </if>
      <if test="content != null">
        `content` = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where `nole203_id` = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxyd.nole.jpa.mysql.alpha.raw.model.Nole203Talk">
    update nole203_talk
    set `nole200_id` = #{nole200Id,jdbcType=BIGINT},
      `nole301_id` = #{nole301Id,jdbcType=BIGINT},
      `nole203_pid` = #{nole203Pid,jdbcType=BIGINT},
      `path` = #{path,jdbcType=VARCHAR},
      `gmt_create` = #{gmtCreate,jdbcType=TIMESTAMP},
      `type` = #{type,jdbcType=CHAR},
      `content` = #{content,jdbcType=VARCHAR}
    where `nole203_id` = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.jxyd.nole.jpa.mysql.alpha.raw.model.Nole203TalkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nole203_talk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>