<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxyd.nole.mgr.shiro.mapper.JdbcRealmMapper">

  <select id="selectSPerms" resultType="java.lang.String">
    SELECT DISTINCT p.`name` from sys01_permission p where p.is_vein = 1
  </select>
  
  <select id="selectUPerms" resultType="java.lang.String">
    SELECT DISTINCT
		p.`name`
	FROM
		sys01_permission p
	LEFT JOIN sys03_role_permission_link rpl ON p.id = rpl.permission_id
	LEFT JOIN sys02_role r ON rpl.role_id = r.id
	LEFT JOIN sys05_user_role_link url ON r.id = url.role_id
	LEFT JOIN sys04_user u ON url.user_id = u.id
	WHERE
		p.is_vein = 1
	AND u.username = #{username,jdbcType=VARCHAR}
  </select>
	<select id="selectUser" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
			u.`password`,
			u.password_salt
		FROM
			sys04_user u
		WHERE
			u.username = #{jdbcType=VARCHAR}
	</select>
</mapper>